### Data Cleaning Practical Examples
#### Working With Columns
1. How to check columns
2. How to rename columns
3. How to put underscore in all columns
4. How to replace a character or empty space in column names
5. How to uppercase/lowercase columns
6. How to select all columns except one
7. How to select columns of a particular order or phrase(df.filter)
8. How to select a group of column name

In [1]:
# Import relevant packages 
import numpy as np 
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv("Datasets/raw_dataset.csv")

In [3]:
# Check the first few rows
df.head()

,First Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca

In [4]:
# Check the columns
df.columns

Index(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [5]:
# Features of Columns
dir(df.columns)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_comparison_methods',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_take_fillable',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_check_indexing_error',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_comparables',
 '_concat',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_defer_to_indexing',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_partial_string_timestamp_match_key',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_unique_index',
 '_get_values_for_loc',
 '_has_complex_internals',
 '_id',
 '_inner_indexer',
 '_invalid_indexer',
 '_is_comparable_dtype',
 '_is_compatible_with_other',
 '_is_memory_usage_qualified',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_promote',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_nan_idxs',
 '_no_setting_name',
 '_outer_indexer',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_should_fallback_to_positional',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_supports_partial_string_indexing',
 '_to_safe_for_reshape',
 '_transform_index',
 '_typ',
 '_union',
 '_union_incompatible_dtypes',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'copy',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_type_compatible',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'searchsorted',
 'set_names',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_series',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [6]:
# Get The Columns As an Array
df.columns.values

array(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'], dtype=object)

In [7]:
# Get The Columns As  List
df.columns.tolist()

['First Name',
 'Last name',
 'Age',
 'SALARY',
 'STREET Address1',
 'STREET Address2',
 'STREET Address3',
 'email']

In [8]:
# To View Columns Names
df.columns.view()

Index(['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [10]:
# Convert the Column Names To Series/ DataFrame
df.columns.to_series()

First Name              First Name
Last name                Last name
Age                            Age
SALARY                      SALARY
STREET Address1    STREET Address1
STREET Address2    STREET Address2
STREET Address3    STREET Address3
email                        email
dtype: object

In [11]:
# Convert the Column Names To DataFrame
df.columns.to_frame()

                               0
First Name            First Name
Last name              Last name
Age                          Age
SALARY                    SALARY
STREET Address1  STREET Address1
STREET Address2  STREET Address2
STREET Address3  STREET Address3
email                      email

In [13]:
# Check to see if column names contains a phrase
First_cols = [col for col in df.columns if 'First' in col]
print(list(df.columns))
print(First_cols)

['First Name', 'Last name', 'Age', 'SALARY', 'STREET Address1', 'STREET Address2', 'STREET Address3', 'email']
['First Name']

In [14]:
# Check to see if column names are duplicated
df.columns.duplicated()

array([False, False, False, False, False, False, False, False])

In [15]:
# Attributes and Methods of Str
dir(df.columns.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_make_accessor',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [16]:
# Making Column Name Lower Case
df.columns.str.lower()

Index(['first name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [17]:
# Making Column Name Upper Case
df.columns.str.upper()

Index(['FIRST NAME', 'LAST NAME', 'AGE', 'SALARY', 'STREET ADDRESS1',
       'STREET ADDRESS2', 'STREET ADDRESS3', 'EMAIL'],
      dtype='object')

In [18]:
# Making Column Name Title Case
df.columns.str.title()

Index(['First Name', 'Last Name', 'Age', 'Salary', 'Street Address1',
       'Street Address2', 'Street Address3', 'Email'],
      dtype='object')

In [19]:
# Replacing Empty spaces with underscore
df.columns.str.replace(' ','_')

Index(['First_Name', 'Last_name', 'Age', 'SALARY', 'STREET_Address1',
       'STREET_Address2', 'STREET_Address3', 'email'],
      dtype='object')

In [20]:
### Renaming Column Name
df.rename(columns={'Age':'Date of Birth'})

,First Name,Last name,Date of Birth,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,05/24/2019,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,02/07/2020,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,10/29/2019,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,08/09/2018,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,07/27/2019,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com

In [21]:
# Renaming Column Name /Inplace
df.rename(columns={'Age':'Date of Birth'},inplace=True)

In [22]:
df.columns

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [23]:
# Number of columns
len(df.columns.values)

8

In [24]:
# Renaming Column Names using select values
df.columns.values[7] = 'Email Address'

In [25]:
df.columns

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'Email Address'],
      dtype='object')

In [26]:
# Selecting All Columns Except One
df.columns[df.columns != 'SALARY']

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'Email Address'],
      dtype='object')

In [27]:
# Selecting All Columns Except One
df.loc[:, df.columns != 'SALARY'].columns

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'Email Address'],
      dtype='object')

In [28]:
# Select Column Names Except One Using Difference
df.columns.difference(['SALARY'])

Index(['Date of Birth', 'Email Address', 'First Name', 'Last name',
       'STREET Address1', 'STREET Address2', 'STREET Address3'],
      dtype='object')

In [29]:
# Select Column Names Except One Using Negation of isin
df.loc[:,~df.columns.isin(['SALARY'])].columns

Index(['First Name', 'Last name', 'Date of Birth', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'Email Address'],
      dtype='object')

In [30]:
# Select Column Names that Begins with a Word or Character
df.filter(like='STREET').columns

Index(['STREET Address1', 'STREET Address2', 'STREET Address3'], dtype='object')

In [31]:
# Select Column Names that Begins with a Word or Character
df.loc[:,df.columns.str.startswith('STREET')].columns

Index(['STREET Address1', 'STREET Address2', 'STREET Address3'], dtype='object')

In [32]:
# Select Column Names that ENDS with a Word or Character
df.loc[:,df.columns.str.endswith('ame')].columns

Index(['First Name', 'Last name'], dtype='object')

In [33]:
# Select Column Names that ENDS with a Word or Character Using Filter and Regex name$
df.filter(regex='ame$',axis=1).columns

Index(['First Name', 'Last name'], dtype='object')

In [34]:
# Select A Group of Column Names
df.columns.values[0:4]

array(['First Name', 'Last name', 'Date of Birth', 'SALARY'], dtype=object)

In [35]:
# Select A Group of Column Names
df.columns[0:4]

Index(['First Name', 'Last name', 'Date of Birth', 'SALARY'], dtype='object')